.gameButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.5em;
  width: 8.5em;
  border-radius: 50%;
  box-shadow: 0px 4px 0px $secondaryDark;
  background: $secondary;
  cursor: pointer;

  &:active {
    transform: translateY(4px);
  }

  &__iconCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5em;
    width: 6.5em;
    border-radius: 100%;
    box-shadow: inset 0px 5px 0px $secondaryDark;
    background-color: $secondary;
  }
}
